@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    background-color: black;
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-family: 'Montserrat', sans-serif;
    color:white;
}

h2{
    font-family: 'Montserrat', sans-serif;
    color: #bbbbbb;
    font-size: 13px !important;
    line-height: 24px;
}

h3{
    font-size: 20px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: #f2f2f2;
    line-height: 37px;
}

h4{
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 28px !important;
    color: #c2c2c2;
}

.navbar-navr{
    display: block;
    text-align: center;
}


.head__logo{
    width: 140px;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 37px;
}

.nav-item{
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .93px;
    margin-right: 20px;
    text-transform: uppercase;
}

.container-fluid input{
    border: 0;
    border-radius: 40px;
}

.container-fluid button{
    border: 0;
    text-transform: uppercase;
    background-color: #21a4f7;
    color: white;
    font-size: 13px;
    font-weight: 700;
    padding: 0 20px;
    border-radius: 40px;
    margin-left: 4px;
    margin-right: 12px;
}

.container-fluid button:hover{
    background-color: #21a5f77e;
}

#login{
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .86px;
    padding-right: 30px;
    padding-left: 30px;
    background-color: rgba(148, 147, 147, 0.247);
}

#login:hover{
    background-color: rgba(131, 131, 131, 0.329);
}

.container-fluid .nav-item{
    color: white;
}

.container-fluid .nav-link:hover{
    color:#21a4f7 !important;
}

.navbar{
    margin-top: 10px;
}

.carousel-inner .slider{
    border-radius: 18px;
    margin-top: 50px;
}

.navigation__site{
    margin-top: 50px;
}

.navigation__site:hover{
    cursor: pointer;
}

.navigation__site2{
    margin-top: 18px;
    margin-bottom: 50px;
}

.catalog{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
} 

.catalog__film{
    display: inline-block;
    justify-content: space-between;
}

.catalog__img img{
    border-radius: 4px;
    width: 300px;
    height: 168px;
    transition: 0.72s;
}

.catalog__img img:hover{
    transform: scale(1.08); /* При наведении на картинку, она будет увеличиваться */
    transition: 0.16s;
    cursor: pointer;
}

.catalog__name h3{
    font-size: 15px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.33px;
    color: #e6e6e6;
}

.catalog__name{
    margin-top: 15px;
}

.final__catalog{
    text-align: center;
    margin-top: 110px;
}

.final__info h3{
    margin-bottom: 30px;
}

.foot__svg img{
    width: 48px;
    height: 48px;
    margin: 0 5px;
    transition: 0.72s;
}

.foot__svg:hover{
    transform: scale(1.08); /* При наведении на картинку, она будет увеличиваться */
    transition: 0.16s;
    cursor: pointer;
}

.final__logo{
    display: flex;
    text-align: center;
    margin-top: 36px;
    justify-content: center;
}

.final__about{
    display: flex;
    text-align: center;
    margin-top: 22px;
    justify-content: center;
    cursor: pointer;
}

.final__inform{
    margin: 0 8px;
}

.final__phone{
    width: 153px;
    height: 46px;
    margin-left: 8px;
}

.final__politic{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    cursor: pointer;
}

.final__footer2{
    margin: 0 8px;
}

.final__adaptiv{
    margin-top: 24px;
    margin-bottom: 45px;
    justify-content: center;
    display: flex;
}

.final__phone a{
    justify-content: center;
}

.footer__footer{
    display: flex;
    justify-content: space-between;
}

.head__logo2{
    width: 48px;
    height: 48px;
}

.final__about h3:hover{
    color: #21a5f77e;
}

.final__politic h4:hover{
    color: #21a5f77e;
}

@media (max-width:1400px){
    .catalog__film{
        margin-right: 20px;
    }
}

@media (max-width:1205px){
    .final__about h3{
        font-size: 1.5rem;
    }
    .final__politic{
        flex-wrap: wrap;
    }
}

@media (max-width:995px){
    .catalog{
        /* Для того, чтобы блоки встали в столбик */
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 0;
    }
    .catalog__film{
        margin-bottom: 20px;
        text-align: center;
    }
    .catalog__img img{
        width: 80%;
        height: 330px;
    }
    .catalog__name h3
    {
        font-size: 28px;
        padding: 20px 0;
    }
    .final__about h3{
        font-size: 0.9rem;
    }
}

@media (max-width:995px){
    .catalog__img img{
        width: 100%;
        height: 330px;
    }
}

@media (max-width:578px){
    .catalog__img img{
        width: 80%;
        height: 150px;
    }
    .catalog__img img{
        height: 200px;
    }
    .catalog__name h3{
        font-size: 20px;
    }
}

@media (max-width:566px){
    .final__about h3{
        font-size: 0.7rem;
    }
}

@media (max-width:566px){
    .final__about h3{
        font-size: 0.5rem;
    }
}

@media (max-width:410px){
    .final__logo{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }
    .catalog__name h3{
        font-size: 18px;
    }
    .catalog__img img{
        height: 170px;
    }
}

@media (max-width:360px){
    .catalog__name h3{
        font-size: 15px;
    }
}

@media (max-width:512px){
    .scroll__adaptiv{
        /* Для того, чтобы блоки встали в столбик */
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 0;
    }

    .scroll__adaptiv button{
    width: 130px;
    padding: 10px;
    }
    .podpiska{
        margin-bottom: 10px;
        margin-top: 15px;
    }
}